<?xml version="1.0" encoding="UTF-8"?>
<suite name="InnoDemo" parallel="none">
	<listeners>
		<listener class-name="SA.Utilities.Listener" />
	</listeners>


	<test description="Sample Test" name="NewTest" priority="P1" testID="1234">
		<classes>
			<class name="SA.TestExecute.NewTest" />
		</classes>
	</test>



</suite>